<!DOCTYPE html>
<html>
<head>
	{% block head %}
			<title>{% block title %}{% endblock %} - Quizzing Engine</title>
	{% endblock %}
</head>
<body>
	<div class="container">

		<!--child template -->
		{% block content %}{% endblock %}
		<br>
		<!-- Errors -->
		{% if error %}
			<p class="error"><strong>Error:</strong>{{ error }}</p>
		{% endif %}
		<br>
		<!-- Flashed Messages -->
		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
		{% if current_user.name %}
			<h5> SCORE is: {{ current_user.score }}</h5>
		{% endif %}
	</div>
</body>
</html>