{% extends "base.html" %}
{% block head %}
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- JQUERY import -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>


	<!-- Materialize -->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script type='text/javascript'>
		//sets the global variable to the prefix to the root of the application
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		$(document).ready(function() {
			$(".button-collapse").sideNav();        
		});
	</script>

	<title>Register - Quiz Engine</title>

{% endblock head %}
{% block content %}

<!-- NavBar -->

<nav class="#448aff teal accent-4">
	<div class="nav-wrapper">
		<a href="{{ url_for('home') }}" class="brand-logo"> Quiz Engine</a>
		<a href="" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li class="active"><a href="{{ url_for('register') }}">Register</a></li>
			<li><a href="{{ url_for('login') }}">Login</a></li>
		</ul>
		<ul id="mobile" class="side-nav">
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li class="active"><a href="{{ url_for('register') }}">Register</a></li>
			<li><a href="{{ url_for('login') }}">Login</a></li>
		</ul>
	</div>
</nav>
<!-- End NavBar -->

<h5 class="center-align">Register</h5>
<br>
<form action="" method='POST'>
	{{ form.csrf_token }}
	<div class="row">
		<div class="input-field col s6">
			<label for="name">Name:</label>
			{{ form.name() }}
			<span class="error">
				{% if form.name.errors %}
					{% for error in for.name.errors %}
						{{ error }}
					{% endfor %}
				{% endif %}
			</span>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			{{ form.username() }}
			<label for="username">Username:</label>
			<span class="error">
				{% if form.username.errors %}
					{% for error in for.username.errors %}
						{{ error }}
					{% endfor %}
				{% endif %}
			</span>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			{{ form.password(class="validate") }}
			<label for="password">Password:</label>
			<span class="error">
				{% if form.password.errors %}
					{% for error in for.password.errors %}
						{{ error }}
					{% endfor %}
				{% endif %}
			</span>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<label for="confirm">Confirm:</label>
			{{ form.confirm() }}
			<span class="error">
				{% if form.confirm.errors %}
					{% for error in form.confirm.errors %}
						{{ error }}
					{% endfor %}
				{% endif %}
			</span>
		</div>
	</div>
	<div class="valign-wrapper">
	<button class="btn teal valign lighten-2 waves-effect waves-light" type="submit">Register!<i style="padding-left: 20px;" class="material-icons">send</i></button>
</div>
</form>
{% endblock content %}